<h1>Result</h1>

<% case @score %>
<% when 1 then %> <p>Sorry but <strong><%= @word.upcase %></strong> can't be built out of <%= @letters.gsub(' ', ', ') %></p>
<% when 2 then %> <p>Sorry but <strong><%= @word.upcase %></strong> does not seem to be a valid English word...</p>
<% when 3 then %> <p><strong>Congratulations!</strong> <%= @word.upcase %> is a valid English word!</p>
<% end %>
<%= link_to 'Play again', new_path %>
